<!DOCTYPE html>
<html lang="da">
  <head>
    <title>Allan Ebdrup - foredrag</title>
    <meta name="description" content="Foredrag om DevOps og Continuous delivery af Allan Ebdrup">
    {% include 'meta.html' %}
    {{ "_includes/external/bootstrap4.css" | purifyCss | safe }}
    {{["_includes/css/foredrag.css", "index.njk", "_includes/contact.html"] | purifyCssBasedOnIncludes | safe }}
  </head>

  <body>
    <div class="jumbotron webp" id="jumbotron1">
      <h2>
        Foredrag baseret på praktiske erfaringer
      </h2>
    </div>

    <div class="container">

      <h1>
        Continuous Delivery, DevOps &amp; Udviklingsproces
      </h1>
      <em>- foredrag af Allan Ebdrup</em>
      <div class="body-text">
        <div>

          <p>
            Mine foredrag er tekniske, men ikke højpandede. Foredragene giver en basal introduktion, og de er krydret med praktiske tommelfinger-regler og historier om lige dele brændte naller og flotte resultater.
          </p>

          <p>
            Når du har været til et af mine foredrag, er du godt klædt på til at kaste dig ud i egne eksperimenter. Du vil have en forståelse for muligheder og begrænsninger. Og du vil være opmærksom på faldgruber, der ellers ville koste dig dyrt at falde i. Men mest af alt er du blevet endnu mere nysgerrig.
          </p>
        </div>
        <div>
          <p>
            Foredragene er velegnede til både lukkede arrangementer for
            <b>medarbejderne i din virksomhed</b>, og som åbne arrangementer, fx
            <b>i medlems-organisationer</b>
            inden for IT-branchen.
          </p>
          <p>
            Du kan se en kort ignite talk jeg gav i denne
            <a href='/ignite'>5 min video</a>, eller du kan læse flere detaljer længere nede på siden.
          </p>
        </div>
      </div>

    </div>

    <div class="jumbotron webp" id="jumbotron2">
      <h2>
        Foredrag om udviklingsproces
      </h2>
    </div>

    <div class="container">

      <h3>Titel: Continuous Delivery Warstories</h3>

      <div class="body-text">
        <div>
          <p>
            Dette foredrage er historien om, hvordan jeg og mine teams flere gange har taget en udviklingsafdeling fra at release en gang om ugen, til at
            <b>release til produktion 10 gange om dagen</b>
            eller mere.
          </p>
          <p>
            Vores
            <b>udviklingshastighed</b>
            kom op på
            <b>140%</b>, vi lavede
            <b>44% færre defects</b>
            i produktion og
            <b>omkostningerne</b>
            for hele udviklingsafdelingen var
            <b>reduceret med 50%</b>.
          </p>
        </div>

        <div>
          <p>
            <b>Medarbejdertilfredsheden</b>
            lå i
            <b>top 1%</b>
            i en international benchmark, fordi vi havde lavet alle forbedringerne ved at abejder smartere ikke hårdere.
          </p>
        </div>
      </div>

      <div class="text-center">
        <ul class="fukol results">
          <li>
            <div class="result text-center">
              <div class="text-xlarge"><img class="result-icon" src="/img/up.svg" alt="">140<span class="result-percent">%</span></div>
              Udviklings-<br/>
              hastighed
            </div>
          </li>
          <li>
            <div class="result text-center">
              <div class="text-xlarge"><img class="result-icon-180" src="/img/up.svg" alt="">44<span class="result-percent">%</span></div>
              Færre<br/>
              defekter
            </div>
          </li>
          <li>
            <div class="result text-center">
              <div class="text-xlarge"><img class="result-icon-180" src="/img/up.svg" alt="">50<span class="result-percent">%</span></div>
              Lavere<br/>
              omkostninger
            </div>
          </li>
          <li>
            <div class="result text-center">
              <div class="text-xlarge">
                <span class="result-top">top</span>1<span class="result-percent">%</span></div>
              Tilfredshed<br/>
              i benchmark
            </div>
          </li>
        </ul>
      </div>

      <h3>Indhold i foredraget</h3>

      <ul class="content-list fukol">
        <li>
          Hvad er Continuous Delivery og DevOps?
        </li>
        <li>
          Fordelene ved Continuous Delivery og DevOps.
        </li>
        <li>
          Hvordan vi kom i gang med skiftet? Hvad skulle der til, før vi tog springet?
        </li>
        <li>
          Detaljer om, hvordan vi rent faktisk begyndte at lave Continuous Delivery.
        </li>
        <li>
          Vores nye udviklingsproces tilpasset Continuous Delivery (bl.a. tools).
        </li>
        <li>
          En innovativ måde at bruge
          <b>versionskontrol</b>.
        </li>
        <li>
          Advanceret
          <b>Continuous Integration</b>.
        </li>
        <li>
          Hvad skal der til for at lave
          <b>Continuous Procurement</b>?
        </li>
        <li>
          Hvad skal der til for at styre det, når mange udviklere push'er til produktion, så snart de er klar?
        </li>
        <li>
          Hvorfor lukkede vi vores testafdeling?
        </li>
        <li>
          Den mere menneskelige faktor: Vores udviklingsfilosofi. En filosofi, der inkluderer ting som "people over process", den kompetente udvikler og DevOps.
        </li>
        <li>
          En ambitiøs tilgang til kvalitet og hastighed.
        </li>
        <li>
          Sådan har overgangen til Continuous Delivery påvirket kvaliteten, og hastigheden af vores daglige arbejde.
        </li>
      </ul>

      <h3>Indholdet kan tilrettes</h3>

      <div class="body-text">
        <div>
          <p>
            Indholdet kan, og bliver ofte, rettet til ifht. specielle ønsker.
          </p>
          <p>
            Udgangspunktet for hele foredraget er praktiske erfaringer, hvad vi har lært, hvad der virker for os, og fejl vi har begået.
          </p>
        </div>
        <div>
          <p>
            Når du har hørt dette foredrag, vil du have fået en del fif til, hvordan du selv kan komme i gang med Continuous Delivery i din organisation.
          </p>
          <p>
            Det her foredrag
            <b>rykker noget</b>
            i mange, der hører det. Vær forberedt på en livlig diskussion og noget at gruble over bagefter.
          </p>
        </div>
      </div>

      <h3>Pris</h3>

      <p>
        Prisen for dette foredrag er 18.000,- hvis det skal holdes i Danmark.
      </p>

      <h3>Kontakt</h3>

      <p>
        {% include 'contact.html' %}
      </p>

      <h3>Video</h3>

      <p>
        Jeg udvikler løbende på Continuous Delivery Warstories. Hvis du gerne vil se lidt mere om hvordan foredraget opleves, har jeg en
        <a class="no-wrap" href="/goto2015">video (47 min)</a>, optaget på GOTO konferencen i 2015.
      </p>

      <h2>Evalueringerer af foredrag</h2>

      <p>
        Her kan du se eksempler på evalueringer af mine foredrag.
      </p>
      <div class="fukol prosa">
        <div>
          <h3>Evaluering hos PROSA</h3>
          <p class="prosa-eval eval-votes">
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-on.svg" alt="*"/>
            <span class="prosa-bar six-star"></span>
            32
            <br/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-off.svg" alt=""/>
            <span class="prosa-bar five-star"></span>
            5
            <br/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-off.svg" alt=""/>
            <img src="/img/star-off.svg" alt=""/>
            <span class="prosa-bar four-star"></span>
            1
            <br/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-off.svg" alt=""/>
            <img src="/img/star-off.svg" alt=""/>
            <img src="/img/star-off.svg" alt=""/>
            <br/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-off.svg" alt=""/>
            <img src="/img/star-off.svg" alt=""/>
            <img src="/img/star-off.svg" alt=""/>
            <img src="/img/star-off.svg" alt=""/>
            <br/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-off.svg" alt=""/>
            <img src="/img/star-off.svg" alt=""/>
            <img src="/img/star-off.svg" alt=""/>
            <img src="/img/star-off.svg" alt=""/>
            <img src="/img/star-off.svg" alt=""/>
          </p>
        </div>
        <div>
          <h4>Kommentarer</h4>

          <q>SUPERBT. DEN MAND VED HVAD HAN TALER OM!</q>

          <q>Super godt. I afholder gode, relevante foredrag. Fortsæt!</q>

          <q>Det er imponerende godt, og yderst relevant</q>

          <q>God og underholdende fremlæggelse</q>

          <q>Perfekt</q>

          <q>Fantastisk</q>
        </div>
      </div>

      <h3>Evaluering på GOTO Konferencen</h3>
      <p class="text-center">
        <table>
          <tbody>
            <tr>
              <td class="green goto-eval">GRØN</td>
              <td class="eval-votes">
                <span class="goto-bar goto-green-bar"></span>
                113</td>
            </tr>
            <tr>
              <td class="yellow goto-eval">GUL</td>
              <td class="eval-votes">
                <span class="goto-bar goto-yellow-bar"></span>
                32</td>
            </tr>
            <tr>
              <td class="red goto-eval">RØD</td>
              <td class="eval-votes">
                <span class="goto-bar goto-red-bar"></span>
                2</td>
            </tr>
          </tbody>
        </table>
      </p>

    </div>

    <div class="jumbotron webp" id="jumbotron3">
      <h2>
        CTO med solid udviklererfaring
      </h2>
    </div>

    <div class="container">

      <h3>Om Allan Ebdrup</h3>

      <div class="body-text">
        <div>
          <p>
            Mine erfaringer er indenfor
            <strong>udvikling af skræddersyede web-produkter</strong>
            med lang holdbarhed. Egenudviklede cloud-løsninger.
          </p>
          <p>
            Jeg har en solid programør-erfaring, inden jeg bevægede mig over i rollen som CTO. Jeg elsker stadig at kode - selvom det kun er periodisk jeg finder tid til det.
          </p>
          <p>
            Et karriere highlight er, at have taget
            <a href="https://debitoor.dk/">Debitoor</a>
            fra vi skrev den første linje kode til backenden, til ti-tusindvis af betalende brugere og en exit til SumUp.
          </p>
          <p>
            Lige nu er jeg i gang med det seneste store projekt, hvor vi bygger en medicinsk platform hos
            <a href="https://practio.co.uk/travel-health/">Practio</a>.
          </p>
        </div>

        <div>
          <p>
            Hvis du vil vide mere om mig, kan du se detaljer om min professionelle karriere på
            <a href="https://www.linkedin.com/in/ebdrup">LinkedIn</a>.
          </p>
          <p>
            Klik på billeded nedenfor for at downloade er hi-res-portrætfoto af mig til dine tryksager, kursus-katalog osv.
          </p>
          <p class="text-center">
            <a href="/img/AllanEbdrup.jpg" download="AllanEbdrup.jpg" title="Download hi-res protrætbillede">
              <picture>
                <source srcset="/img/AllanEbdrup-lowres.jpg.webp" type="image/webp">
                <img class="img-rounded portrait" src="/img/AllanEbdrup-lowres.jpg" alt="Download hi-res protrætbillede">
              </picture>
            </a>
          </p>
        </div>
      </div>

      <hr/>

      <h2>Tweets</h3>

      <p>
        Jeg har flere gange holde foredrag på CoDe konferencen. CoDe, er en forkortelse af Continuous Delivery. Konferencen handler om det nyeste indenfor udviklingsprocesser of tools. Det er en konference som jeg anbefaler på det varmeste. Der er også tweets fra andre arrangementer.
      </p>
      <div class="fukol talk-tweets">
        <div>
          <div>{{ 'https://twitter.com/code_conf/status/651724049463312384' | embedTweet | safe }}</div>
        </div>
        <div>
          <div>{{ 'https://twitter.com/code_conf/status/651720912128081920' | embedTweet | safe }}</div>
        </div>
        <div>
          <div>{{ 'https://twitter.com/RandomSort/status/1113357014606983168' | embedTweet | safe }}</div>
        </div>
        <div>
          <div>{{ 'https://twitter.com/devopsdayscph/status/1113356154250383360' | embedTweet | safe }}</div>
        </div>
        <div>
          <div>{{ 'https://twitter.com/meekrosoft/status/988742361151926272' | embedTweet | safe }}</div>
        </div>
        <div>
          <div>{{ 'https://twitter.com/kimstensdal/status/869535950610862082' | embedTweet | safe }}</div>
        </div>
        <div>
          <div>{{ 'https://twitter.com/code_conf/status/651719076025339904' | embedTweet | safe }}</div>
        </div>
        <div>
          <div>{{ 'https://twitter.com/apaipi/status/651719084246175744' | embedTweet | safe }}</div>
        </div>
      </div>

      <hr/>

      <h2>Foredragskalender</h2>

      <div class="table-responsive">
        <table class="small table table-striped">
          <thead>
            <tr>
              <th>Dato</th>
              <th>Sted</th>
              <th>Titel</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>3-4. April 2019</td>
              <td>DevOps days Copenhagen</td>
              <td>
                <a href="https://www.devopsdays.org/events/2019-copenhagen/welcome/">War stories about the Ops in DevOps</a >
              </td>
            </tr>
            <tr>
              <td>29. November 2018</td>
              <td>SummIT - Den progressive it-organisation</td>
              <td>
                <a href="https://www.dit.dk/Konferencer/SummIT-2018">DevOps – Historier fra fronten</a >
              </td>
            </tr>
            <tr>
              <td>7. Maj 2018</td>
              <td>eDreams spanien</td>
              <td>
                Continuous Delivery Warstories (lukket arrangement)
              </td>
            </tr>
            <tr>
              <td>4. Maj 2018</td>
              <td>IT-Universitetet</td>
              <td>Continuous Delivery Warstories (Gæsteforelæsning)</td>
            </tr>
            <tr>
              <td>24. April 2018</td>
              <td>DevOps days Copenhagen</td>
              <td>
                <a href="https://www.devopsdays.org/events/2018-copenhagen/speakers/">Don't forget about your process feedback loops</a >
              </td>
            </tr>
            <tr>
              <td>30. Maj 2017</td>
              <td>Computerworld</td>
              <td>
                <a href="https://computerworldevents.dk/553/devops_konference">For the love of DevOps (keynote)</a >
              </td>
            </tr>
            <tr>
              <td>7. April 2017</td>
              <td>IT-Universitetet</td>
              <td>Continuous Delivery Warstories (Gæsteforelæsning)</td>
            </tr>
            <tr>
              <td>19. Januar 2016</td>
              <td>CopenhagenJS</td>
              <td>
                <a href="https://www.meetup.com/copenhagenjs/events/236816775/">How we replaced our Drupal CMS with 589 lines of JavaScript</a >
              </td>
            </tr>
            <tr>
              <td>30. September 2016</td>
              <td>Datamatikerlærer-foreningen</td>
              <td>Continuous Delivery Warstories (lukket arrangement)</td>
            </tr>
            <tr>
              <td>16. Juni 2016</td>
              <td>DSB</td>
              <td>Continuous Delivery Warstories (lukket arrangement)</td>
            </tr>
            <tr>
              <td>9. Juni 2016</td>
              <td>Københavns Universitet</td>
              <td>Continuous Delivery Warstories (lukket arrangement)</td>
            </tr>
            <tr>
              <td>23. Oktober 2015</td>
              <td>Gyldendal</td>
              <td>Continuous Delivery Warstories (lukket arrangement)</td>
            </tr>
            <tr>
              <td>7. Oktober 2015</td>
              <td>CoDe-conf København</td>
              <td>
                <a href="https://www.code-conf.com/">Continuous Delivery Warstories (C-level condensed english version)</a >
              </td>
            </tr>
            <tr>
              <td>5. Oktober 2015</td>
              <td>GOTO København</td>
              <td>
                <a href="https://gotocon.com/cph-2015/presentation/Continuous%20Delivery%20warstories">Continuous Delivery Warstories (condensed english version)</a >
              </td>
            </tr>
            <tr>
              <td>16. September 2015</td>
              <td>København</td>
              <td>
                <a href="https://www.prosa.dk/kalender/hele-kalenderen/?tx_moccrmintegration_courses%5Bcourse%5D=572&tx_moccrmintegration_courses%5Baction%5D=show&tx_moccrmintegration_courses%5Bcontroller%5D=Course&cHash=2aa635fcf22827f52bb7be08748337a6">Continuous Delivery Warstories</a >
              </td>
            </tr>
            <tr>
              <td>26. Aug 2015</td>
              <td>Odense</td>
              <td>
                Continuous Delivery Warstories (lukket arrangement)
              </td>
            </tr>
            <tr>
              <td>21. Maj 2015</td>
              <td>Ålborg</td>
              <td>
                <a href="https://www.prosa.dk/kalender/hele-kalenderen/?tx_moccrmintegration_courses%5Bcourse%5D=438&tx_moccrmintegration_courses%5Baction%5D=show&tx_moccrmintegration_courses%5Bcontroller%5D=Course&cHash=418f99d476c9e51607e3b4672f138c71">Continuous Delivery Warstories</a >
              </td>
            </tr>
            <tr>
              <td>30. April 2015</td>
              <td>Aarhus</td>
              <td>
                <a href="https://www.prosa.dk/kalender/hele-kalenderen/?tx_moccrmintegration_courses%5Bcourse%5D=376&tx_moccrmintegration_courses%5Baction%5D=show&tx_moccrmintegration_courses%5Bcontroller%5D=Course&cHash=0bd15eb7ec377d9bbc41d9f2023c087c">Node.js Warstories</a >
              </td>
            </tr>
            <tr>
              <td>26. Marts 2015</td>
              <td>Aarhus</td>
              <td>
                <a href="https://www.prosa.dk/kalender/hele-kalenderen/?tx_moccrmintegration_courses%5Bcourse%5D=374&tx_moccrmintegration_courses%5Baction%5D=show&tx_moccrmintegration_courses%5Bcontroller%5D=Course&cHash=f1676f0d3954abacea239b0435149c1f">Continuous Delivery Warstories</a >
              </td>
            </tr>
            <tr>
              <td>17. Marts 2015</td>
              <td>Vejle</td>
              <td>
                <a href="https://www.prosa.dk/kalender/hele-kalenderen/?tx_moccrmintegration_courses%5Bcourse%5D=373&tx_moccrmintegration_courses%5Baction%5D=show&tx_moccrmintegration_courses%5Bcontroller%5D=Course&cHash=eedd8d50ff5791906ad3566fa6fc0c54">Continuous Delivery Warstories</a >
              </td>
            </tr>
            <tr>
              <td>9. Marts 2015</td>
              <td>Odense</td>
              <td>
                <a href="https://www.prosa.dk/kalender/hele-kalenderen/?tx_moccrmintegration_courses%5Bcourse%5D=372&tx_moccrmintegration_courses%5Baction%5D=show&tx_moccrmintegration_courses%5Bcontroller%5D=Course&cHash=37b55891460e896f81c30dc3b7f52f5a">Continuous Delivery Warstories</a >
              </td>
            </tr>
            <tr>
              <td>4. Marts 2015</td>
              <td>København</td>
              <td>
                <a href="https://www.prosa.dk/kalender/hele-kalenderen/?tx_moccrmintegration_courses%5Bcourse%5D=413&tx_moccrmintegration_courses%5Baction%5D=show&tx_moccrmintegration_courses%5Bcontroller%5D=Course&cHash=5319d8646827a650be7c60382158a1e9">MongoDB Warstories</a >
              </td>
            </tr>
            <tr>
              <td>15. Jan 2015</td>
              <td>København</td>
              <td>
                <a href="https://www.prosa.dk/kalender/hele-kalenderen/?tx_moccrmintegration_courses%5Bcourse%5D=408&tx_moccrmintegration_courses%5Baction%5D=show&tx_moccrmintegration_courses%5Bcontroller%5D=Course&cHash=4f924f8959aa22c273fd7c34f12c1b1c">Node.js Warstories</a >
              </td>
            </tr>
            <tr>
              <td>14. Jan 2015</td>
              <td>København</td>
              <td>
                <a href="https://www.meetup.com/AgilityLab/events/216548902/">Continuous Delivery Warstories (condensed english version)</a >
              </td>
            </tr>
            <tr>
              <td>20. November 2014</td>
              <td>Datalog-foreningen (Aarhus)</td>
              <td>MongoDB Warstories</td>
            </tr>
            <tr>
              <td>16. Oktober 2014</td>
              <td>Aarhus</td>
              <td>
                <a href="https://www.prosa.dk/kalender/hele-kalenderen/?tx_moccrmintegration_courses%5Bcourse%5D=194&tx_moccrmintegration_courses%5Baction%5D=show&tx_moccrmintegration_courses%5Bcontroller%5D=Course&cHash=ce79dc471eda2dbf376974e7aee18c76">MongoDB Warstories</a >
              </td>
            </tr>
            <tr>
              <td>2. Oktober 2014</td>
              <td>Datalog-foreningen (Aarhus)</td>
              <td>
                <a href="https://www.datalogforeningen.dk/index.php/news/39/15/Faglig-Aften-d-2-oktober-2014-Node-js-warstories">Node.js Warstories</a >
              </td>
            </tr>
            <tr>
              <td>12. Juni 2014</td>
              <td>Official MongoDB usergroup (Stockholm)</td>
              <td>
                <a href="https://www.meetup.com/Stockholm-MongoDB-User-Group/events/184327682/">MongoDB Warstories (condensed english version)</a >
              </td>
            </tr>
            <tr>
              <td>20. Maj 2014</td>
              <td>GOTO Nights (Kbh)</td>
              <td>
                <a href="https://secure.trifork.com/cph-2014/freeevent/index.jsp?eventOID=6205">Node.js Warstories
                </a>
              </td>
            </tr>
            <tr>
              <td>20. Marts 2014</td>
              <td>Odense</td>
              <td>MongoDB Warstories</td>
            </tr>
            <tr>
              <td>13. Marts 2014</td>
              <td>Odense</td>
              <td>Node.js Warstories</td>
            </tr>
            <tr>
              <td>4. Marts 2014</td>
              <td>Vejle</td>
              <td>MongoDB Warstories</td>
            </tr>
            <tr>
              <td>27. Februar 2014</td>
              <td>Vejle</td>
              <td>Node.js Warstories</td>
            </tr>
            <tr>
              <td>4. Februar 2014</td>
              <td>Ålborg</td>
              <td>MongoDB Warstories</td>
            </tr>
            <tr>
              <td>23. Oktober 2013</td>
              <td>Tech Talent Night - DTU (Kbh)</td>
              <td>
                <a href="https://www.facebook.com/events/623608751022985/">MongoDB Warstories</a>
              </td>
            </tr>
            <tr>
              <td>12. September 2013</td>
              <td>Aarhus</td>
              <td>Node.js Warstories</td>
            </tr>
            <tr>
              <td>3. September 2013</td>
              <td>Ålborg</td>
              <td>
                <a href="https://www.geekhub.dk/meetings/358">Node.js og kunsten at vedligeholde 1,2 mio. linjer JavaScript
                </a>
              </td>
            </tr>
            <tr>
              <td>12. Marts 2013</td>
              <td>GOTO Nights (Kbh)</td>
              <td>
                <a href="https://secure.trifork.com/aarhus-2013/freeevent/index.jsp?eventOID=5245">Sådan bliver 1 million linjer JavaScript-kode nemme at vedligeholde</a >
              </td>
            </tr>
            <tr>
              <td>16. Aug 2012</td>
              <td>CopenhagenJS (Kbh)</td>
              <td>
                <a href="https://lanyrd.com/2012/copenhagenjs-august/">Quality in JavaScript code (browser and node.js)
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <footer>
        {% include 'contact.html' %}
        <p class="small copy">&copy; Allan Ebdrup. Foto fra GOTO af:
          <a href="https://www.linkedin.com/profile/view?id=AAkAAAALvRQBxVT98MQ_ew1h2L0EkjTJ4eF40pw">Lars Kruse</a>. Du kan finde koden til dette website på
          <a href="https://github.com/ebdrup/foredrag">GitHub</a>
        </p>
      </p>
    </footer>

  </div>
  {{ "_includes/js/webp.js" | load | jsmin | script | safe }}
</body>
</html>