<!DOCTYPE html>
<html lang="da">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Foredrag om DevOps og Continuous delivery af Allan Ebdrup">
    <title>Allan Ebdrup - foredrag</title>
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/favicon/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/favicon/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-touch-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon-180x180.png"/>
    <link rel="icon" type="image/png" href="/favicon/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/favicon/android-chrome-192x192.png" sizes="192x192"/>
    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="/favicon/favicon-16x16.png" sizes="16x16"/>
    <link rel="manifest" href="/favicon/manifest.json"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="msapplication-TileImage" content="/favicon/mstile-144x144.png"/>
    <meta name="theme-color" content="#ffffff"/>
    {{ "_includes/bootstrap.css" | purifyCss | safe }}
    {{ "_css/foredrag.css" | purifyCss | safe }}
  </head>

  <body>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron webp" id="jumbotron1"></div>

    <div class="container">
      <h2 class="header-in-jumbo">
        Foredrag baseret på praktiske erfaringer
      </h2>

      <h1>
        Continuous Delivery, DevOps &amp; Udviklingsproces
        <br/>
      </h1>
      <h2>
        Foredrag <em>- af Allan Ebdrup</em>
      </h1>
      <p>
        Mine foredrag er tekniske, men ikke højpandede. Foredragene giver en basal introduktion, og de er krydret med praktiske tommelfinger-regler og historier om lige dele brændte naller og flotte resultater.
      </p>

      <p>
        Når du har været til et af mine foredrag, er du godt klædt på til at kaste dig ud i egne eksperimenter. Du vil have en forståelse for muligheder og begrænsninger. Og du vil være opmærksom på faldgruber, der ellers ville koste dig dyrt at falde i. Men mest af alt er du blevet endnu mere nysgerrig.
      </p>

      <p>
        Foredragene er velegnede til både lukkede arrangementer for
        <b>medarbejderne i din virksomhed</b>, og som åbne arrangementer, fx
        <b>i medlems-organisationer</b>
        inden for IT-branchen.
      </p>

      <h2>5 min Video</h2>

      <p>
        Her er en lille video af en 5 min ignite talk jeg gav til CoDe konferencen. Den kan give dig en lille smag på mine præsentationsevner.
      </p>
      <div class="small-xs text-center youtube">
        <iframe title="Don't forget about Process Feedback Loops - CoDe konference" width="640" height="359" class="hide" data-src="https://www.youtube.com/embed/6ETz4ZrqJq8" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        <noscript>
          <iframe title="Don't forget about Process Feedback Loops - CoDe konference" width="640" height="359" src="https://www.youtube.com/embed/6ETz4ZrqJq8" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        </noscript>
        <br/>
        <em>Don't forget about Process Feedback Loops - CoDe konference</em>
      </div>
    </div>
    <div class="jumbotron webp" id="jumbotron2"></div>

    <div class="container">
      <h2 class="header-in-jumbo">
        Foredrag om Udviklingsproces
      </h2>

      <h3>Titel: Continuous Delivery Warstories</h3>

      <p>
        Dette foredrage er historien om, hvordan jeg og mine teams flere gange har taget en udviklingsafdeling fra at release en gang om ugen, til at
        <b>release til produktion 10 gange om dagen</b>
        eller mere.
      </p>

      <p>
        Vores
        <b>udviklingshastighed</b>
        kom op på
        <b>140%</b>, vi lavede
        <b>44% færre defects</b>
        i produktion og
        <b>omkostningerne</b>
        for hele udviklingsafdelingen var
        <b>reduceret med 50%</b>.
      </p>

      <p>
        <b>Medarbejdertilfredsheden</b>
        lå i
        <b>top 1%</b>
        i en international benchmark, fordi vi havde lavet alle forbedringerne ved at abejder smartere ikke hårdere.
      </p>
      <div class="row text-center">
        <div class="col-md-3">
          <div class="result">
            <div class="text-xlarge result-threeLetterPercentage">140<span class="result-percent">%</span></div>
            Udviklings-<br/>
            hastighed
          </div>
        </div>
        <div class="col-md-3">
          <div class="result">
            <div class="text-xlarge">44<span class="result-percent">%</span></div>
            Færre Defekter<br/>
            i Produktion
          </div>
        </div>
        <div class="col-md-3">
          <div class="result">
            <div class="text-xlarge">50<span class="result-percent">%</span></div>
            Lavere<br/>
            Omkostninger
          </div>
        </div>
        <div class="col-md-3">
          <div class="result">
            <div class="text-xlarge">
              <span class="result-top">top</span>1<span class="result-percent">%</span></div>
            Tilfredshed<br/>
            Benchmark
          </div>
        </div>
      </div>

      <h3>Indhold i foredraget</h3>
      <ul>
        <li>
          Hvad er Continuous Delivery og DevOps?
        </li>
        <li>
          Fordelene ved Continuous Delivery og DevOps.
        </li>
        <li>
          Hvordan vi kom i gang med skiftet? Hvad skulle der til, før vi tog springet?
        </li>
        <li>
          Detaljer om, hvordan vi rent faktisk begyndte at lave Continuous Delivery.
        </li>
        <li>
          Vores nye udviklingsproces tilpasset Continuous Delivery (bl.a. tools).
        </li>
        <li>
          En måde at bruge
          <b>versionskontrol</b>.
        </li>
        <li>
          Advanceret
          <b>Continuous Integration</b>.
        </li>
        <li>
          Hvad skal der til for at lave
          <b>Continuous Procurement</b>?
        </li>
        <li>
          Hvad skal der til for at styre det, når mange udviklere push'er til produktion, så snart de er klar?
        </li>
        <li>
          Hvorfor lukkede vi vores testafdeling?
        </li>
        <li>
          Den mere menneskelige faktor: Vores udviklingsfilosofi. En filosofi, der inkluderer ting som "people over process", den kompetente udvikler og DevOps.
        </li>
        <li>
          En ambitiøs tilgang til kvalitet og hastighed.
        </li>
        <li>
          Sådan har overgangen til Continuous Delivery påvirket kvaliteten, og hastigheden af vores daglige arbejde.
        </li>
      </ul>
      <p>
        Indholdet kan og bliver ofte, rettet til ifht. specielle ønsker.
      </p>
      <p>
        Udgangspunktet for hele foredraget er praktiske erfaringer, hvad vi har lært, hvad der virker for os, og fejl vi har begået. Når du har hørt dette foredrag, vil du have fået en del fif til, hvordan du selv kan komme i gang med Continuous Delivery i din organisation.
      </p>

      <p>
        Det her foredrag
        <b>rykker noget</b>
        i mange, der hører det. Vær forberedt på en livlig diskussion og noget at gruble over bagefter.
      </p>

      <h3>Pris</h3>
      <p>
        Prisen for dette foredrag er 18.000,- hvis det skal holdes i Danmark.
      </p>

      <h3>Kontakt</h3>
      <p class="text-center small jumbo-contact">
        <a class="email" href="mailto:allan@itforedrag.dk">allan@itforedrag.dk</a>
        <a class="phone" href="tel:+4553727528">(+45) 53 72 75 28</a>
        <a class="twitter" href="https://twitter.com/allanebdrup">allanebdrup</a>
        <a class="skype" href="skype:username?allanebdrup">allanebdrup</a>
        <a class="linkedIn" href="https://www.linkedin.com/in/ebdrup/">ebdrup</a>
        <a class="github" href="https://github.com/ebdrup">ebdrup</a>
      </p>

      <h3>Video</h3>
      <p>
        Jeg udvikler løbende videre på Continuous Delivery Warstories. Her kan du se en video (47 min) af foredraget fra 2015 på GOTO konferencen.
      </p>
      <div class="small-xs text-center youtube">
        <iframe title="Continuous Delivery Warstories - GOTO konference" width="640" height="359" class="hide" data-src="https://www.youtube.com/embed/pZ--Tkbop40" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        <noscript>
          <iframe title="Continuous Delivery Warstories - GOTO konference" width="640" height="359" src="https://www.youtube.com/embed/pZ--Tkbop40" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        </noscript>
        <br/>
        <em>Continuous Delivery Warstories - GOTO konference</em>
      </div>

      <h2>Tweets fra CoDe konferencen</h3>
      <p>
        Jeg har flere gange holde foredrag på CoDe konferencen. CoDe, er en forkortelse af Continuous Delivery. Konferencen handler om det nyeste indenfor udviklingsprocesser of tools. Jeg kan på det varmeste anbefale konferencen.
      </p>
      <div class="row">
        <div class="col-md-6">
          <blockquote class="twitter-tweet" data-lang="en">
            <p lang="en" dir="ltr">
              &quot;Everyone enjoys when the developer deploys&quot;
              <a href="https://twitter.com/allanebdrup">@allanebdrup</a>
              on
              <a href="https://twitter.com/hashtag/ContinuousDelivery?src=hash">#ContinuousDelivery</a >
              at
              <a href="https://twitter.com/codecph">@codecph</a>
              <a href="https://t.co/nBcuACVJA0">pic.twitter.com/nBcuACVJA0</a>
            </p>
            &mdash; CoDe CPH (@codecph)
            <a href="https://twitter.com/codecph/status/651724049463312384">October 7, 2015
            </a>
          </blockquote>
          <script async="async" data-src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-md-6">
          <blockquote class="twitter-tweet" data-lang="en">
            <p lang="en" dir="ltr">
              &quot;Everyone feels Blue when waiting in a Queue&quot;
              <a href="https://twitter.com/allanebdrup">@allanebdrup</a>
              on
              <a href="https://twitter.com/hashtag/ContinuousDelivery?src=hash">#ContinuousDelivery</a >
              <a href="https://twitter.com/codecph">@codecph</a>
              <a href="https://t.co/7x60HIHsyx">pic.twitter.com/7x60HIHsyx</a>
            </p>
            &mdash; CoDe CPH (@codecph)
            <a href="https://twitter.com/codecph/status/651720912128081920">October 7, 2015
            </a>
          </blockquote>
          <script async="async" data-src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>

      <h2>Evalueringerer af foredrag</h2>

      Her er lidt eksempler på evalueringer af mine foredrag.

      <div class="row">
        <div class="col-md-6">
          <h3>Evaluering hos PROSA</h3>
          <img src="/img/star-on.svg" alt="*"/>
          <img src="/img/star-on.svg" alt="*"/>
          <img src="/img/star-on.svg" alt="*"/>
          <img src="/img/star-on.svg" alt="*"/>
          <img src="/img/star-on.svg" alt="*"/>
          <img src="/img/star-on.svg" alt="*"/>
          32 stemmer
          <br/>
          <img src="/img/star-on.svg" alt="*"/>
          <img src="/img/star-on.svg" alt="*"/>
          <img src="/img/star-on.svg" alt="*"/>
          <img src="/img/star-on.svg" alt="*"/>
          <img src="/img/star-on.svg" alt="*"/>
          <img src="/img/star-off.svg" alt=""/>
          5 stemmer
          <br/>
          <img src="/img/star-on.svg" alt="*"/>
          <img src="/img/star-on.svg" alt="*"/>
          <img src="/img/star-on.svg" alt="*"/>
          <img src="/img/star-on.svg" alt="*"/>
          <img src="/img/star-off.svg" alt=""/>
          <img src="/img/star-off.svg" alt=""/>
          1 stemme
          <br/>
        </div>
        <div class="col-md-6">
          <h3>Kommentarer</h3>

          <p>"SUPERBT. DEN MAND VED HVAD HAN TALER OM!"</p>

          <p>"Super godt. I afholder gode, relevante foredrag. Fortsæt!"</p>

          <p>"Det er imponerende godt, og yderst relevant"</p>

          <p>"God og underholdende fremlæggelse"</p>

          <p>"Perfekt"</p>

          <p>"Fantastisk"</p>
        </div>
      </div>
      <h3>Evaluering på GOTO Konferencen</h3>
      <p class="text-center">
        <svg class="img-fluid gotoEval" viewbox="0 0 400 200" xmlns="http://www.w3.org/2000/svg">
          <g transform="translate(26,0)">
            <text x="-26" y="-7" style="font-size: 10px; font-family: Arial, Helvetica;">undefined</text>
            <g class="y axis" transform="translate(0,0)" fill="none" font-size="10" font-family="sans-serif" text-anchor="end" style="font-size: 10px; font-family: Arial, Helvetica;">
              <path class="domain" stroke="#000" d="M-6,150.5H0.5V0.5H-6" style="shape-rendering: crispedges; fill: none; stroke: rgb(204, 204, 204);"></path>
              <g class="tick" opacity="1" transform="translate(0,150.5)">
                <line stroke="#000" x2="-6" style="shape-rendering: crispedges; fill: none; stroke: rgb(204, 204, 204);"></line>
                <text fill="#000" x="-9" dy="0.32em">0</text>
              </g>
              <g class="tick" opacity="1" transform="translate(0,137.22566371681415)">
                <line stroke="#000" x2="-6" style="shape-rendering: crispedges; fill: none; stroke: rgb(204, 204, 204);"></line>
                <text fill="#000" x="-9" dy="0.32em">10</text>
              </g>
              <g class="tick" opacity="1" transform="translate(0,123.95132743362832)">
                <line stroke="#000" x2="-6" style="shape-rendering: crispedges; fill: none; stroke: rgb(204, 204, 204);"></line>
                <text fill="#000" x="-9" dy="0.32em">20</text>
              </g>
              <g class="tick" opacity="1" transform="translate(0,110.67699115044248)">
                <line stroke="#000" x2="-6" style="shape-rendering: crispedges; fill: none; stroke: rgb(204, 204, 204);"></line>
                <text fill="#000" x="-9" dy="0.32em">30</text>
              </g>
              <g class="tick" opacity="1" transform="translate(0,97.40265486725664)">
                <line stroke="#000" x2="-6" style="shape-rendering: crispedges; fill: none; stroke: rgb(204, 204, 204);"></line>
                <text fill="#000" x="-9" dy="0.32em">40</text>
              </g>
              <g class="tick" opacity="1" transform="translate(0,84.1283185840708)">
                <line stroke="#000" x2="-6" style="shape-rendering: crispedges; fill: none; stroke: rgb(204, 204, 204);"></line>
                <text fill="#000" x="-9" dy="0.32em">50</text>
              </g>
              <g class="tick" opacity="1" transform="translate(0,70.85398230088495)">
                <line stroke="#000" x2="-6" style="shape-rendering: crispedges; fill: none; stroke: rgb(204, 204, 204);"></line>
                <text fill="#000" x="-9" dy="0.32em">60</text>
              </g>
              <g class="tick" opacity="1" transform="translate(0,57.57964601769912)">
                <line stroke="#000" x2="-6" style="shape-rendering: crispedges; fill: none; stroke: rgb(204, 204, 204);"></line>
                <text fill="#000" x="-9" dy="0.32em">70</text>
              </g>
              <g class="tick" opacity="1" transform="translate(0,44.30530973451327)">
                <line stroke="#000" x2="-6" style="shape-rendering: crispedges; fill: none; stroke: rgb(204, 204, 204);"></line>
                <text fill="#000" x="-9" dy="0.32em">80</text>
              </g>
              <g class="tick" opacity="1" transform="translate(0,31.030973451327426)">
                <line stroke="#000" x2="-6" style="shape-rendering: crispedges; fill: none; stroke: rgb(204, 204, 204);"></line>
                <text fill="#000" x="-9" dy="0.32em">90</text>
              </g>
              <g class="tick" opacity="1" transform="translate(0,17.756637168141594)">
                <line stroke="#000" x2="-6" style="shape-rendering: crispedges; fill: none; stroke: rgb(204, 204, 204);"></line>
                <text fill="#000" x="-9" dy="0.32em">100</text>
              </g>
              <g class="tick" opacity="1" transform="translate(0,4.482300884955748)">
                <line stroke="#000" x2="-6" style="shape-rendering: crispedges; fill: none; stroke: rgb(204, 204, 204);"></line>
                <text fill="#000" x="-9" dy="0.32em">110</text>
              </g>
            </g>
            <rect transform="translate(0,0)" class="bar" x="13" width="108" y="0" height="150" style="fill: rgb(59, 166, 101);"></rect>
            <rect transform="translate(0,0)" class="bar" x="133" width="108" y="107.52212389380531" height="42.477876106194685" style="fill: rgb(219, 215, 109);"></rect>
            <rect transform="translate(0,0)" class="bar" x="253" width="108" y="147.34513274336283" height="2.654867256637175" style="fill: rgb(191, 105, 157);"></rect>
          </g>
          <g class="x axis" transform="translate(26,150)" fill="none" font-size="10" font-family="sans-serif" text-anchor="middle" style="font-size: 10px; font-family: Arial, Helvetica;">
            <path class="domain" stroke="#000" d="M0.5,6V0.5H374.5V6" style="shape-rendering: crispedges; fill: none; stroke: rgb(204, 204, 204);"></path>
            <g class="tick" opacity="1" transform="translate(67.5,0)">
              <line stroke="#000" y2="6" style="shape-rendering: crispedges; fill: none; stroke: rgb(204, 204, 204);"></line>
              <text fill="#000" y="9" dy="0.71em">GRØN (113 stemmer)</text>
            </g>
            <g class="tick" opacity="1" transform="translate(187.5,0)">
              <line stroke="#000" y2="6" style="shape-rendering: crispedges; fill: none; stroke: rgb(204, 204, 204);"></line>
              <text fill="#000" y="9" dy="0.71em">GUL (32 stemmer)</text>
            </g>
            <g class="tick" opacity="1" transform="translate(307.5,0)">
              <line stroke="#000" y2="6" style="shape-rendering: crispedges; fill: none; stroke: rgb(204, 204, 204);"></line>
              <text fill="#000" y="9" dy="0.71em">RØD (2 stemmer)</text>
            </g>
          </g>
        </svg>
      </p>
      <hr/>
    </div>
    <div class="jumbotron webp" id="jumbotron3"></div>

    <div class="container">
      <h2 class="header-in-jumbo">
        CTO med solid udviklererfaring
      </h2>

      <h3>Om Allan Ebdrup</h3>
      <div class="row">
        <div class="col-md-6">
          <p>
            Mine erfaringer er indenfor
            <strong>udvikling af skræddersyede web-produkter</strong>
            med lang holdbarhed. Egenudviklede cloud-løsninger.
          </p>
          <p>
            Jeg har en solid programør-erfaring, inden jeg bevægede mig over i rollen som CTO. Jeg elsker stadig at kode - selvom det kun er periodisk jeg finder tid til det.
          </p>
          <p>
            Et karriere highlight er, at have taget
            <a href="https://debitoor.dk/">Debitoor</a>
            fra vi skrev den første linje kode til backenden, til ti-tusindvis af betalende brugere og en exit til SumUp.
          </p>
          <p>
            Lige nu er jeg i gang med det seneste store projekt, hvor vi bygger en medicinsk platform hos
            <a href="https://practio.co.uk/travel-health/">Practio</a>.
          </p>
        </div>

        <div class="col-md-6">
          <p>
            Hvis du vil vide mere om mig, kan du se detaljer om min professionelle karriere på
            <a href="https://www.linkedin.com/in/ebdrup">LinkedIn</a>.
          </p>
          <p>
            Klik på billeded nedenfor for at downloade er hi-res-portrætfoto af mig til dine tryksager, kursus-katalog osv.
          </p>
          <p class="text-center">
            <a href="/img/AllanEbdrup.jpg" download="AllanEbdrup.jpg" title="Download hi-res protrætbillede">
              <picture>
                <source srcset="/img/AllanEbdrup-lowres.jpg.webp" type="image/webp">
                <img class="img-rounded portrait" src="/img/AllanEbdrup-lowres.jpg" alt="Download hi-res protrætbillede">
              </picture>
            </a>
          </p>
        </div>
      </div>

      <hr/>
      <h3>Foredragskalender</h3>

      <div class="table-responsive">
        <table class="small-xs table table-striped">
          <thead>
            <tr>
              <th>Dato</th>
              <th>Sted</th>
              <th>Titel</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>3-4. April 2019</td>
              <td>DevOps days Copenhagen</td>
              <td>
                <a href="https://www.devopsdays.org/events/2019-copenhagen/welcome/">War stories about the Ops in DevOps</a >
              </td>
            </tr>
            <tr>
              <td>29. November 2018</td>
              <td>SummIT - Den progressive it-organisation</td>
              <td>
                <a href="https://www.dit.dk/Konferencer/SummIT-2018">DevOps – Historier fra fronten</a >
              </td>
            </tr>
            <tr>
              <td>7. Maj 2018</td>
              <td>eDreams spanien</td>
              <td>
                Continuous Delivery Warstories (lukket arrangement)
              </td>
            </tr>
            <tr>
              <td>4. Maj 2018</td>
              <td>IT-Universitetet</td>
              <td>Continuous Delivery Warstories (Gæsteforelæsning)</td>
            </tr>
            <tr>
              <td>24. April 2018</td>
              <td>DevOps days Copenhagen</td>
              <td>
                <a href="https://www.devopsdays.org/events/2018-copenhagen/speakers/">Don't forget about your process feedback loops</a >
              </td>
            </tr>
            <tr>
              <td>30. Maj 2017</td>
              <td>Computerworld</td>
              <td>
                <a href="https://computerworldevents.dk/553/devops_konference">For the love of DevOps (keynote)</a >
              </td>
            </tr>
            <tr>
              <td>7. April 2017</td>
              <td>IT-Universitetet</td>
              <td>Continuous Delivery Warstories (Gæsteforelæsning)</td>
            </tr>
            <tr>
              <td>19. Januar 2016</td>
              <td>CopenhagenJS</td>
              <td>
                <a href="https://www.meetup.com/copenhagenjs/events/236816775/">How we replaced our Drupal CMS with 589 lines of JavaScript</a >
              </td>
            </tr>
            <tr>
              <td>30. September 2016</td>
              <td>Datamatikerlærer-foreningen</td>
              <td>Continuous Delivery Warstories (lukket arrangement)</td>
            </tr>
            <tr>
              <td>16. Juni 2016</td>
              <td>DSB</td>
              <td>Continuous Delivery Warstories (lukket arrangement)</td>
            </tr>
            <tr>
              <td>9. Juni 2016</td>
              <td>Københavns Universitet</td>
              <td>Continuous Delivery Warstories (lukket arrangement)</td>
            </tr>
            <tr>
              <td>23. Oktober 2015</td>
              <td>Gyldendal</td>
              <td>Continuous Delivery Warstories (lukket arrangement)</td>
            </tr>
            <tr>
              <td>7. Oktober 2015</td>
              <td>CoDe-conf København</td>
              <td>
                <a href="https://www.code-conf.com/">Continuous Delivery Warstories (C-level condensed english version)</a >
              </td>
            </tr>
            <tr>
              <td>5. Oktober 2015</td>
              <td>GOTO København</td>
              <td>
                <a href="https://gotocon.com/cph-2015/presentation/Continuous%20Delivery%20warstories">Continuous Delivery Warstories (condensed english version)</a >
              </td>
            </tr>
            <tr>
              <td>16. September 2015</td>
              <td>København</td>
              <td>
                <a href="https://www.prosa.dk/kalender/hele-kalenderen/?tx_moccrmintegration_courses%5Bcourse%5D=572&tx_moccrmintegration_courses%5Baction%5D=show&tx_moccrmintegration_courses%5Bcontroller%5D=Course&cHash=2aa635fcf22827f52bb7be08748337a6">Continuous Delivery Warstories</a >
              </td>
            </tr>
            <tr>
              <td>26. Aug 2015</td>
              <td>Odense</td>
              <td>
                Continuous Delivery Warstories (lukket arrangement)
              </td>
            </tr>
            <tr>
              <td>21. Maj 2015</td>
              <td>Ålborg</td>
              <td>
                <a href="https://www.prosa.dk/kalender/hele-kalenderen/?tx_moccrmintegration_courses%5Bcourse%5D=438&tx_moccrmintegration_courses%5Baction%5D=show&tx_moccrmintegration_courses%5Bcontroller%5D=Course&cHash=418f99d476c9e51607e3b4672f138c71">Continuous Delivery Warstories</a >
              </td>
            </tr>
            <tr>
              <td>30. April 2015</td>
              <td>Aarhus</td>
              <td>
                <a href="https://www.prosa.dk/kalender/hele-kalenderen/?tx_moccrmintegration_courses%5Bcourse%5D=376&tx_moccrmintegration_courses%5Baction%5D=show&tx_moccrmintegration_courses%5Bcontroller%5D=Course&cHash=0bd15eb7ec377d9bbc41d9f2023c087c">Node.js Warstories</a >
              </td>
            </tr>
            <tr>
              <td>26. Marts 2015</td>
              <td>Aarhus</td>
              <td>
                <a href="https://www.prosa.dk/kalender/hele-kalenderen/?tx_moccrmintegration_courses%5Bcourse%5D=374&tx_moccrmintegration_courses%5Baction%5D=show&tx_moccrmintegration_courses%5Bcontroller%5D=Course&cHash=f1676f0d3954abacea239b0435149c1f">Continuous Delivery Warstories</a >
              </td>
            </tr>
            <tr>
              <td>17. Marts 2015</td>
              <td>Vejle</td>
              <td>
                <a href="https://www.prosa.dk/kalender/hele-kalenderen/?tx_moccrmintegration_courses%5Bcourse%5D=373&tx_moccrmintegration_courses%5Baction%5D=show&tx_moccrmintegration_courses%5Bcontroller%5D=Course&cHash=eedd8d50ff5791906ad3566fa6fc0c54">Continuous Delivery Warstories</a >
              </td>
            </tr>
            <tr>
              <td>9. Marts 2015</td>
              <td>Odense</td>
              <td>
                <a href="https://www.prosa.dk/kalender/hele-kalenderen/?tx_moccrmintegration_courses%5Bcourse%5D=372&tx_moccrmintegration_courses%5Baction%5D=show&tx_moccrmintegration_courses%5Bcontroller%5D=Course&cHash=37b55891460e896f81c30dc3b7f52f5a">Continuous Delivery Warstories</a >
              </td>
            </tr>
            <tr>
              <td>4. Marts 2015</td>
              <td>København</td>
              <td>
                <a href="https://www.prosa.dk/kalender/hele-kalenderen/?tx_moccrmintegration_courses%5Bcourse%5D=413&tx_moccrmintegration_courses%5Baction%5D=show&tx_moccrmintegration_courses%5Bcontroller%5D=Course&cHash=5319d8646827a650be7c60382158a1e9">MongoDB Warstories</a >
              </td>
            </tr>
            <tr>
              <td>15. Jan 2015</td>
              <td>København</td>
              <td>
                <a href="https://www.prosa.dk/kalender/hele-kalenderen/?tx_moccrmintegration_courses%5Bcourse%5D=408&tx_moccrmintegration_courses%5Baction%5D=show&tx_moccrmintegration_courses%5Bcontroller%5D=Course&cHash=4f924f8959aa22c273fd7c34f12c1b1c">Node.js Warstories</a >
              </td>
            </tr>
            <tr>
              <td>14. Jan 2015</td>
              <td>København</td>
              <td>
                <a href="https://www.meetup.com/AgilityLab/events/216548902/">Continuous Delivery Warstories (condensed english version)</a >
              </td>
            </tr>
            <tr>
              <td>20. November 2014</td>
              <td>Datalog-foreningen (Aarhus)</td>
              <td>MongoDB Warstories</td>
            </tr>
            <tr>
              <td>16. Oktober 2014</td>
              <td>Aarhus</td>
              <td>
                <a href="https://www.prosa.dk/kalender/hele-kalenderen/?tx_moccrmintegration_courses%5Bcourse%5D=194&tx_moccrmintegration_courses%5Baction%5D=show&tx_moccrmintegration_courses%5Bcontroller%5D=Course&cHash=ce79dc471eda2dbf376974e7aee18c76">MongoDB Warstories</a >
              </td>
            </tr>
            <tr>
              <td>2. Oktober 2014</td>
              <td>Datalog-foreningen (Aarhus)</td>
              <td>
                <a href="https://www.datalogforeningen.dk/index.php/news/39/15/Faglig-Aften-d-2-oktober-2014-Node-js-warstories">Node.js Warstories</a >
              </td>
            </tr>
            <tr>
              <td>12. Juni 2014</td>
              <td>Official MongoDB usergroup (Stockholm)</td>
              <td>
                <a href="https://www.meetup.com/Stockholm-MongoDB-User-Group/events/184327682/">MongoDB Warstories (condensed english version)</a >
              </td>
            </tr>
            <tr>
              <td>20. Maj 2014</td>
              <td>GOTO Nights (Kbh)</td>
              <td>
                <a href="https://secure.trifork.com/cph-2014/freeevent/index.jsp?eventOID=6205">Node.js Warstories
                </a>
              </td>
            </tr>
            <tr>
              <td>20. Marts 2014</td>
              <td>Odense</td>
              <td>MongoDB Warstories</td>
            </tr>
            <tr>
              <td>13. Marts 2014</td>
              <td>Odense</td>
              <td>Node.js Warstories</td>
            </tr>
            <tr>
              <td>4. Marts 2014</td>
              <td>Vejle</td>
              <td>MongoDB Warstories</td>
            </tr>
            <tr>
              <td>27. Februar 2014</td>
              <td>Vejle</td>
              <td>Node.js Warstories</td>
            </tr>
            <tr>
              <td>4. Februar 2014</td>
              <td>Ålborg</td>
              <td>MongoDB Warstories</td>
            </tr>
            <tr>
              <td>23. Oktober 2013</td>
              <td>Tech Talent Night - DTU (Kbh)</td>
              <td>
                <a href="https://www.facebook.com/events/623608751022985/">MongoDB Warstories</a>
              </td>
            </tr>
            <tr>
              <td>12. September 2013</td>
              <td>Aarhus</td>
              <td>Node.js Warstories</td>
            </tr>
            <tr>
              <td>3. September 2013</td>
              <td>Ålborg</td>
              <td>
                <a href="https://www.geekhub.dk/meetings/358">Node.js og kunsten at vedligeholde 1,2 mio. linjer JavaScript
                </a>
              </td>
            </tr>
            <tr>
              <td>12. Marts 2013</td>
              <td>GOTO Nights (Kbh)</td>
              <td>
                <a href="https://secure.trifork.com/aarhus-2013/freeevent/index.jsp?eventOID=5245">Sådan bliver 1 million linjer JavaScript-kode nemme at vedligeholde</a >
              </td>
            </tr>
            <tr>
              <td>16. Aug 2012</td>
              <td>CopenhagenJS (Kbh)</td>
              <td>
                <a href="https://lanyrd.com/2012/copenhagenjs-august/">Quality in JavaScript code (browser and node.js)
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <footer>
        <p class="text-center small">
          <a class="email" href="mailto:allan@itforedrag.dk">allan@itforedrag.dk</a>
          <a class="phone" href="tel:+4553727528">(+45) 53 72 75 28</a>
          <a class="twitter" href="https://twitter.com/allanebdrup">allanebdrup</a>
          <a class="skype" href="skype:username?allanebdrup">allanebdrup</a>
          <a class="linkedIn" href="https://www.linkedin.com/in/ebdrup/">ebdrup</a>
          <a class="github" href="https://github.com/ebdrup">ebdrup</a>
        </p>
        <p>
          &copy; Allan Ebdrup. Foto fra GOTO af:
          <a href="https://www.linkedin.com/profile/view?id=AAkAAAALvRQBxVT98MQ_ew1h2L0EkjTJ4eF40pw">Lars Kruse
          </a >
        </p>
      </footer>

    </div>
    {{ "_js/webp.js" | load | jsmin | script | safe }}
    {{ "_js/defer.js" | load | jsmin | script | safe }}
  </body>
</html>