<!DOCTYPE html>
<html lang="da">
  <head>
    <title>Allan Ebdrup - foredrag</title>
    <meta name="description" content="Foredrag om DevOps og Continuous delivery af Allan Ebdrup">
    {% include 'meta.html' %}
    {{ "_includes/external/bootstrap4.css" | purifyCss | safe }}
    {{["_includes/css/foredrag.css", "index.njk", "_includes/contact.html"] | purifyCssBasedOnIncludes | safe }}
  </head>

  <body>
    <div class="jumbotron webp" id="jumbotron1">
      <h2>
        Foredrag baseret på praktiske erfaringer
      </h2>
    </div>

    <div class="container">

      <h1>
        Continuous Delivery, DevOps &amp; Udviklingsproces
      </h1>
      <em>- foredrag af Allan Ebdrup</em>
      <div class="body-text">
        <div>

          <p>
            Mine foredrag er tekniske, men ikke højpandede. Foredragene giver en basal introduktion, og de er krydret med praktiske tommelfinger-regler og historier om lige dele brændte naller og flotte resultater.
          </p>

          <p>
            Når du har været til et af mine foredrag, er du godt klædt på til at kaste dig ud i egne eksperimenter. Du vil have en forståelse for muligheder og begrænsninger. Og du vil være opmærksom på faldgruber, der ellers ville koste dig dyrt at falde i. Men mest af alt er du blevet endnu mere nysgerrig.
          </p>
        </div>
        <div>
          <p>
            Foredragene er velegnede til både lukkede arrangementer for
            <b>medarbejderne i din virksomhed</b>, og som åbne arrangementer, fx
            <b>i medlems-organisationer</b>
            inden for IT-branchen.
          </p>
          <p>
            Du kan se en kort ignite talk jeg gav i denne
            <a href='/ignite'>5 min video</a>, eller du kan læse flere detaljer længere nede på siden.
          </p>
        </div>
      </div>

    </div>

    <div class="jumbotron webp" id="jumbotron2">
      <h2>
        Foredrag om udviklingsproces
      </h2>
    </div>

    <div class="container">

      <h3>Titel: Continuous Delivery Warstories</h3>

      <div class="body-text">
        <div>
          <p>
            Dette foredrage er historien om, hvordan jeg og mine teams flere gange har taget en udviklingsafdeling fra at release en gang om ugen, til at
            <b>release til produktion 10 gange om dagen</b>
            eller mere.
          </p>
          <p>
            Vores
            <b>udviklingshastighed</b>
            kom op på
            <b>140%</b>, vi lavede
            <b>44% færre defects</b>
            i produktion og
            <b>omkostningerne</b>
            for hele udviklingsafdelingen var
            <b>reduceret med 50%</b>.
          </p>
        </div>

        <div>
          <p>
            <b>Medarbejdertilfredsheden</b>
            lå i
            <b>top 1%</b>
            i en international benchmark, fordi vi havde lavet alle forbedringerne ved at abejder smartere ikke hårdere.
          </p>
        </div>
      </div>

      <div class="text-center">
        <ul class="fukol results">
          <li>
            <div class="result text-center">
              <div class="text-xlarge"><img class="result-icon" src="/img/up.svg" alt="">140<span class="result-percent">%</span></div>
              Udviklings-<br/>
              hastighed
            </div>
          </li>
          <li>
            <div class="result text-center">
              <div class="text-xlarge"><img class="result-icon-180" src="/img/up.svg" alt="">44<span class="result-percent">%</span></div>
              Færre<br/>
              defekter
            </div>
          </li>
          <li>
            <div class="result text-center">
              <div class="text-xlarge"><img class="result-icon-180" src="/img/up.svg" alt="">50<span class="result-percent">%</span></div>
              Lavere<br/>
              omkostninger
            </div>
          </li>
          <li>
            <div class="result text-center">
              <div class="text-xlarge">
                <span class="result-top">top</span>1<span class="result-percent">%</span></div>
              Tilfredshed<br/>
              i benchmark
            </div>
          </li>
        </ul>
      </div>

      <h3>Indhold i foredraget</h3>

      <ul class="content-list fukol">
        <li>
          Hvad er Continuous Delivery og DevOps?
        </li>
        <li>
          Fordelene ved Continuous Delivery og DevOps.
        </li>
        <li>
          Hvordan vi kom i gang med skiftet? Hvad skulle der til, før vi tog springet?
        </li>
        <li>
          Detaljer om, hvordan vi rent faktisk begyndte at lave Continuous Delivery.
        </li>
        <li>
          Vores nye udviklingsproces tilpasset Continuous Delivery (bl.a. tools).
        </li>
        <li>
          En innovativ måde at bruge
          <b>versionskontrol</b>.
        </li>
        <li>
          Advanceret
          <b>Continuous Integration</b>.
        </li>
        <li>
          Hvad skal der til for at lave
          <b>Continuous Procurement</b>?
        </li>
        <li>
          Hvad skal der til for at styre det, når mange udviklere push'er til produktion, så snart de er klar?
        </li>
        <li>
          Hvorfor lukkede vi vores testafdeling?
        </li>
        <li>
          Den mere menneskelige faktor: Vores udviklingsfilosofi. En filosofi, der inkluderer ting som "people over process", den kompetente udvikler og DevOps.
        </li>
        <li>
          En ambitiøs tilgang til kvalitet og hastighed.
        </li>
        <li>
          Sådan har overgangen til Continuous Delivery påvirket kvaliteten, og hastigheden af vores daglige arbejde.
        </li>
      </ul>

      <h3>Indholdet kan tilrettes</h3>

      <div class="body-text">
        <div>
          <p>
            Indholdet kan, og bliver ofte, rettet til ifht. specielle ønsker.
          </p>
          <p>
            Udgangspunktet for hele foredraget er praktiske erfaringer, hvad vi har lært, hvad der virker for os, og fejl vi har begået.
          </p>
        </div>
        <div>
          <p>
            Når du har hørt dette foredrag, vil du have fået en del fif til, hvordan du selv kan komme i gang med Continuous Delivery i din organisation.
          </p>
          <p>
            Det her foredrag
            <b>rykker noget</b>
            i mange, der hører det. Vær forberedt på en livlig diskussion og noget at gruble over bagefter.
          </p>
        </div>
      </div>

      <h3>Kontakt</h3>

      <p>
        {% include 'contact.html' %}
      </p>

      <h3>Video</h3>

      <p>
        Jeg udvikler løbende på Continuous Delivery Warstories. Hvis du gerne vil se lidt mere om hvordan foredraget opleves, har jeg en
        <a class="no-wrap" href="/goto2015">video (47 min)</a>, optaget på GOTO konferencen i 2015.
      </p>

      <h2>Evalueringerer af foredrag</h2>

      <p>
        Her kan du se eksempler på evalueringer af mine foredrag.
      </p>
      <div class="fukol prosa">
        <div>
          <h3>Evaluering hos PROSA</h3>
          <p class="prosa-eval eval-votes">
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-on.svg" alt="*"/>
            <span class="prosa-bar six-star"></span>
            32
            <br/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-off.svg" alt=""/>
            <span class="prosa-bar five-star"></span>
            5
            <br/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-off.svg" alt=""/>
            <img src="/img/star-off.svg" alt=""/>
            <span class="prosa-bar four-star"></span>
            1
            <br/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-off.svg" alt=""/>
            <img src="/img/star-off.svg" alt=""/>
            <img src="/img/star-off.svg" alt=""/>
            <br/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-off.svg" alt=""/>
            <img src="/img/star-off.svg" alt=""/>
            <img src="/img/star-off.svg" alt=""/>
            <img src="/img/star-off.svg" alt=""/>
            <br/>
            <img src="/img/star-on.svg" alt="*"/>
            <img src="/img/star-off.svg" alt=""/>
            <img src="/img/star-off.svg" alt=""/>
            <img src="/img/star-off.svg" alt=""/>
            <img src="/img/star-off.svg" alt=""/>
            <img src="/img/star-off.svg" alt=""/>
          </p>
        </div>
        <div>
          <h4>Kommentarer</h4>

          <q>SUPERBT. DEN MAND VED HVAD HAN TALER OM!</q>

          <q>Super godt. I afholder gode, relevante foredrag. Fortsæt!</q>

          <q>Det er imponerende godt, og yderst relevant</q>

          <q>God og underholdende fremlæggelse</q>

          <q>Perfekt</q>

          <q>Fantastisk</q>
        </div>
      </div>

      <h3>Evaluering på GOTO Konferencen</h3>
      <p class="text-center">
        <table>
          <tbody>
            <tr>
              <td class="green goto-eval">GRØN</td>
              <td class="eval-votes">
                <span class="goto-bar goto-green-bar"></span>
                113</td>
            </tr>
            <tr>
              <td class="yellow goto-eval">GUL</td>
              <td class="eval-votes">
                <span class="goto-bar goto-yellow-bar"></span>
                32</td>
            </tr>
            <tr>
              <td class="red goto-eval">RØD</td>
              <td class="eval-votes">
                <span class="goto-bar goto-red-bar"></span>
                2</td>
            </tr>
          </tbody>
        </table>
      </p>

    </div>

    <div class="jumbotron webp" id="jumbotron3">
      <h2>
        CTO med solid udviklererfaring
      </h2>
    </div>

    <div class="container">

      <h3>Om Allan Ebdrup</h3>

      <div class="body-text">
        <div>
          <p>
            Mine erfaringer er indenfor
            <strong>udvikling af skræddersyede web-produkter</strong>
            med lang holdbarhed. Egenudviklede cloud-løsninger.
          </p>
          <p>
            Jeg har en solid programør-erfaring, inden jeg bevægede mig over i rollen som CTO. Jeg elsker stadig at kode - selvom det kun er periodisk jeg finder tid til det.
          </p>
          <p>
            Et karriere highlight er, at have taget
            <a href="https://debitoor.dk/">Debitoor</a>
            fra vi skrev den første linje kode til backenden, til ti-tusindvis af betalende brugere og en exit til SumUp.
          </p>
          <p>
            Et andet karriere highlight var at mit team og jeg byggede den medicinsk platform hos
            Practio, der gjorde at vi var det eneste firma i DK der havde teknologien til at løfte
            C19 Johnson &amp; Johnson frivillig ordningen. Senere åbnede vi en række vaccinationscentre,
            blandt andet Danmarks største i KB hallen, for at give booster stik og vaccinerede hundrede
            tusindvis af danskere.
          </p>
        </div>

        <div>
          <p>
            Hvis du vil vide mere om mig, kan du se detaljer om min professionelle karriere på
            <a href="https://www.linkedin.com/in/ebdrup">LinkedIn</a>.
          </p>
          <p>
            Klik på billeded nedenfor for at downloade er hi-res-portrætfoto af mig til dine tryksager, kursus-katalog osv.
          </p>
          <p class="text-center">
            <a href="/img/AllanEbdrup.jpg" download="AllanEbdrup.jpg" title="Download hi-res protrætbillede">
              <picture>
                <source srcset="/img/AllanEbdrup-lowres.jpg.webp" type="image/webp">
                <img class="img-rounded portrait" src="/img/AllanEbdrup-lowres.jpg" alt="Download hi-res protrætbillede">
              </picture>
            </a>
          </p>
        </div>
      </div>

      <hr/>

      <h2>Tweets</h2>

      <p>
        Jeg har flere gange holde foredrag på CoDe konferencen. CoDe, er en forkortelse af Continuous Delivery. Konferencen handler om det nyeste indenfor udviklingsprocesser of tools. Det er en konference som jeg anbefaler på det varmeste. Der er også tweets fra andre arrangementer.
      </p>
      <div class="fukol talk-tweets">
        {% for tweet in tweets %}
          <div>
            <div>inlineTweet:{{ tweet | safe }}</div>
          </div>
        {% endfor %}
      </div>

      <hr/>

      <h2>Foredragskalender</h2>

      <div class="table-responsive">
        <table class="small table table-striped">
          <thead>
            <tr>
              <th>Dato</th>
              <th>Sted</th>
              <th>Titel</th>
            </tr>
          </thead>
          <tbody>
            {% for talk in talks %}
              <tr>
                <td>{{ talk.date }}</td>
                <td>{{ talk.location }}</td>
                <td>
                  {% if talk.link %}
                    <a href="{{ talk.link | safe }}">
                    {% endif %}

                    {{ talk.title }}

                    {% if talk.link %}
                    </a>
                    {% endif%}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <footer>
          {% include 'contact.html' %}
          <p class="small copy">&copy; Allan Ebdrup. Foto fra GOTO af:
            <a href="https://www.linkedin.com/profile/view?id=AAkAAAALvRQBxVT98MQ_ew1h2L0EkjTJ4eF40pw">Lars Kruse</a>. Du kan finde koden til dette website på
            <a href="https://github.com/ebdrup/foredrag">GitHub</a>
          </p>
        </footer>

      </div>
      {{ "_includes/js/webp.js" | load | jsmin | script | safe }}
    </body>
  </html>