<ul class="fukol contact">
    <li>
        <a class="email" href="mailto:allan@itforedrag.dk">allan@itforedrag.dk</a>
    </li>
    <li>
        <a class="phone" href="tel:+4553727528">53 72 75 28</a>
    </li>
    <li>
        <a class="twitter" href="https://twitter.com/allanebdrup">allanebdrup</a>
    </li>
    <li>
        <a class="skype" href="skype:username?allanebdrup">allanebdrup</a>
    </li>
    <li>
        <a class="linkedIn" href="https://www.linkedin.com/in/ebdrup/">ebdrup</a>
    </li>
    <li>
        <a class="github" href="https://github.com/ebdrup">ebdrup</a>
    </li>
</ul>