body,
html {
  overflow-x: hidden;
}

h1 {
  color: #454;
  font-weight: 700;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 44px;
  font-size: 2rem;
}

h1 + em {
  color: #998200;
}

h2 {
  color: #4ba13f;
  font-weight: bolder;
}

h3 {
  color: #454;
  margin: 1.5rem 0 1rem 0;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
}

h4 {
  margin: 1.5rem 0 1rem 0;
}

q {
  display: block;
  padding: 10px;
}

/* https://github.com/Heydon/fukol-grids */
.fukol {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5em;
  padding-inline-start: 0px;
  padding-bottom: 1em;
}

.fukol > * {
  list-style: none;
  margin: 0.5em;
  padding-right: 1em;
}

/* https://github.com/Heydon/fukol-grids */
.body-text {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-inline-start: 0px;
  padding-bottom: 1em;
}

.body-text > * {
  flex: 1 0 20em;
  list-style: none;
  margin: 0;
  padding-right: 1em;
}

.blank {
  visibility: hidden;
}

.text-xlarge {
  font-size: 250%;
}

.jumbotron {
  position: relative;
  background-size: cover;
  height: 300px;
  padding: 0;
  margin-bottom: 0;
}

.jumbotron > h2 {
  position: absolute;
  bottom: 0;
  left: 10%;
  max-width: 80%;
  z-index: 1;
  display: inline-block;
  opacity: 0.75;
  padding: 0 5px 4px 10px;
  background-color: #fff;
}

.jumbotron + .container > * {
  margin-top: 0.5rem;
}

#jumbotron1 {
  background-image: url('/img/Continuous-Delivery-Warstories-14th-Jan-2015-wide-blur.jpg.webp');
  background-position: 50%;
}

#jumbotron2 {
  background-image: url('/img/goto-wide-blur.jpg.webp');
  background-position: 0;
}

#jumbotron3 {
  background-image: url('/img/goto2-wide.jpg.webp');
  background-position: 0 30%;
}

.spinner {
  position: relative;
  z-index: -1;
  width: 200px;
  height: 100px;
  display: inline-block;
  margin-bottom: -100px;
}

.youtube-caption {
  margin-bottom: 26px;
}

.youtube-spinner {
  top: 17vw;
}

.youtube > em {
  margin-top: -20px;
}

/* https://github.com/Heydon/fukol-grids */
.content-list > * {
  flex: 1 0 20em;
  background-image: url('/img/li-arrow.svg');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 1.5em;
  padding-left: 2em;
  line-height: 1.5em;
}

/* https://github.com/Heydon/fukol-grids */
.tweets > * {
  flex: 1 0 20em;
}

/* https://github.com/Heydon/fukol-grids */
.results > * {
  flex: 1 0 10em;
}

.result .text-xlarge {
  margin-bottom: -10px;
  color: #fff;
}

.result {
  padding: 5px 5px 15px 5px;
  color: #f1c40f;
  background-color: #4ba13f;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.75);
  display: inline-block;
  font-weight: 700;
  border-radius: 5px;
  width: 100%;
  max-width: 210px;
}

.result-icon {
  display: inline-block;
  margin-bottom: 0.22em;
  height: 0.7em;
}

.result-icon-180 {
  transform: rotate(180deg);
  display: inline-block;
  margin-bottom: 0.07em;
  height: 0.7em;
}

.result-threeLetterPercentage {
  margin-right: 13px;
}

.result-percent {
  font-size: 24px;
  margin: 16px 0 0 3px;
  color: #19381f;
}

.result-top {
  color: #19381f;
  font-size: 33%;
  vertical-align: middle;
}

/* https://github.com/Heydon/fukol-grids */
.prosa > * {
  flex: 1 0 20em;
}

.prosa-eval > img {
  display: inline-block;
  padding-bottom: 5px;
}

.prosa-bar {
  display: inline-block;
  height: 13px;
  background-color: #f1c40f;
  margin-right: 10px;
}

.six-star {
  width: 96px;
}

.five-star {
  width: 15px;
}

.four-star {
  width: 3px;
}

.goto-bar {
  margin-left: 10px;
  display: inline-block;
  height: 23px;
  margin-right: 10px;
  vertical-align: bottom;
}

.goto-eval {
  font-size: 28px;
  font-weight: 700;
}

.green {
  color: #4ba13f;
}

.yellow {
  color: #998200;
}

.red {
  color: #db512f;
}

.goto-green-bar {
  background-color: #4ba13f;
  width: 170px;
}

.goto-yellow-bar {
  background-color: #f1c40f;
  width: 48px;
}

.goto-red-bar {
  background-color: #db512f;
  width: 3px;
}

.portrait {
  width: 100px;
  height: 150px;
}

/* https://github.com/Heydon/fukol-grids */
.contact > * {
  flex: 1 0 10.4em;
}

.email,
.phone,
.twitter,
.skype,
.linkedIn,
.github {
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 1.8em;
  opacity: 0.5;
  display: inline-block;
  font-weight: 700;
  white-space: nowrap;
}

.email {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUxMiA1MTIiIGhlaWdodD0iNTEycHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiB3aWR0aD0iNTEycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik0yNTIuNzI4LDI1NS4yMjJjMCwwLTIwNS43MDktMTA2Ljg0Mi0yMTIuNjUtMTEwLjY5OHMtNS45NDktMTAuODExLTQuNjQ1LTE0LjAxMSAgYzEwLjQ4NS0yNS43MzMsMzUuNzk5LTQzLjk5Niw2NS4xODUtNDMuOTk2SDQxNS45YzI5LjM2MiwwLDU0LjY1OSwxOC4yMzMsNjUuMTU5LDQzLjkzMmMxLjMxNSwzLjIxOSwwLjUxMywxMS40MDMtNC4zMTYsMTMuOTE3ICBjLTM4LjIzNywxOS45MDctMjA4Ljk3NiwxMDguNzk3LTIxMi45MzIsMTEwLjg0NUMyNTkuMzU1LDI1Ny41MTcsMjUyLjcyOCwyNTUuMjIyLDI1Mi43MjgsMjU1LjIyMnogTTI2OC4xNTUsMzAxLjE0NSAgYy0zLjAzMiwxLjU3OC02LjI3OCwyLjM0Ni05LjQ5MiwyLjM5NGMtMC4xMzUsMC4wMDMtMC4yNywwLjAwMi0wLjQwNSwwLjAwMmMtMC4xMzUtMC4wMDEtMC4yNywwLjAwMS0wLjQwNS0wLjAwMiAgYy0zLjIxNC0wLjA0Ny02LjQ2LTAuODE2LTkuNDkyLTIuMzk0YzAsMC0xOTMuMjAzLTEwMC44NC0yMDEuMzc4LTEwNC44MzFzLTE2LjcyNSwxLjcwOS0xNi43MjUsMTAuMDgxczAsMTUxLjc2MiwwLDE1MS43NjIgIGMwLDM4LjY5OCwzMS42NjIsNzAuMzU5LDcwLjM1OSw3MC4zNTlINDE1LjljMzguNjk4LDAsNzAuMzU5LTMxLjY2Miw3MC4zNTktNzAuMzU5YzAsMCwwLTE0MC44OTksMC0xNTMuMDEgIGMwLTEwLjE1Mi0xMy4yNDQtMTAuNjQ1LTE3LjIwNi04LjU4M0M0NjUuMDkxLDE5OC42MjcsMjY4LjE1NSwzMDEuMTQ1LDI2OC4xNTUsMzAxLjE0NXoiLz48L3N2Zz4=');
}

.phone {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMC8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvVFIvMjAwMS9SRUMtU1ZHLTIwMDEwOTA0L0RURC9zdmcxMC5kdGQnPjxzdmcgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTYgMTYiIGhlaWdodD0iMTAwcHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjAiIHZpZXdCb3g9IjAgMCAxNiAxNiIgd2lkdGg9IjEwMHB4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48Zz48ZGVmcz48cmVjdCBoZWlnaHQ9IjE2IiBpZD0iU1ZHSURfMV8iIHdpZHRoPSIxNiIvPjwvZGVmcz48cGF0aCBkPSJNMTMuOTgxLDEyLjU4M2wtMC4wOC0wLjE3M2MtMC4yNC0wLjU2Ny0zLjE5Ni0xLjQzNi0zLjQ0MS0xLjQ1bC0wLjE5NiwwLjAxNSAgIGMtMC40MDMsMC4wODMtMC44NDcsMC40NjUtMS43NzksMS4yOTFjLTEuMDUtMC40ODYtMi40ODgtMS43ODEtMy4xNjYtMi41NDZDNC41ODUsOC44OTMsMy42NjksNy41MDIsMy4zNCw2LjQ2MyAgIGMxLjA2My0wLjk0MiwxLjUwNi0xLjM1MSwxLjUzNC0xLjgwNmMwLjAxNS0wLjI0NS0wLjQ5Mi0zLjI4Mi0xLjAyNi0zLjU5bC0wLjE2LTAuMTAxYy0wLjM0LTAuMjE5LTAuODU0LTAuNTUtMS40MjUtMC40MzQgICBDMi4xMjUsMC41NjEsMS45OSwwLjYxNSwxLjg2NCwwLjY5M0MxLjQ4MSwwLjkzNSwwLjU0MywxLjU4NiwwLjExNSwyLjQzN2MtMC4yNjQsMC41My0wLjM4NCw1LjM2NiwzLjI0MSw5LjQ1NCAgIGMzLjU4MSw0LjA0MSw3Ljk5Nyw0LjIxNyw4LjY2LDQuMDgxbDAuMDE5LTAuMDAzbDAuMDU5LTAuMDE4YzAuODk2LTAuMzIxLDEuNjU1LTEuMTc1LDEuOTQtMS41MjcgICBDMTQuNTYxLDEzLjc3MiwxNC4xODUsMTIuOTk4LDEzLjk4MSwxMi41ODMiIGZpbGw9IiMxRDFEMUIiLz48L2c+PC9zdmc+');
}

.twitter {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDU2LjY5MyA1Ni42OTMiIGhlaWdodD0iNTYuNjkzcHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1Ni42OTMgNTYuNjkzIiB3aWR0aD0iNTYuNjkzcHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik01Mi44MzcsMTUuMDY1Yy0xLjgxMSwwLjgwNS0zLjc2LDEuMzQ4LTUuODA1LDEuNTkxYzIuMDg4LTEuMjUsMy42ODktMy4yMyw0LjQ0NC01LjU5MmMtMS45NTMsMS4xNTktNC4xMTUsMi02LjQxOCwyLjQ1NCAgYy0xLjg0My0xLjk2NC00LjQ3LTMuMTkyLTcuMzc3LTMuMTkyYy01LjU4MSwwLTEwLjEwNiw0LjUyNS0xMC4xMDYsMTAuMTA3YzAsMC43OTEsMC4wODksMS41NjIsMC4yNjIsMi4zMDMgIGMtOC40LTAuNDIyLTE1Ljg0OC00LjQ0NS0yMC44MzMtMTAuNTZjLTAuODcsMS40OTItMS4zNjgsMy4yMjgtMS4zNjgsNS4wODJjMCwzLjUwNiwxLjc4NCw2LjYsNC40OTYsOC40MTIgIGMtMS42NTYtMC4wNTMtMy4yMTUtMC41MDgtNC41NzgtMS4yNjVjLTAuMDAxLDAuMDQyLTAuMDAxLDAuMDg1LTAuMDAxLDAuMTI4YzAsNC44OTYsMy40ODQsOC45OCw4LjEwOCw5LjkxICBjLTAuODQ4LDAuMjMtMS43NDEsMC4zNTQtMi42NjMsMC4zNTRjLTAuNjUyLDAtMS4yODUtMC4wNjMtMS45MDItMC4xODJjMS4yODcsNC4wMTUsNS4wMTksNi45MzgsOS40NDEsNy4wMTkgIGMtMy40NTksMi43MTEtNy44MTYsNC4zMjctMTIuNTUyLDQuMzI3Yy0wLjgxNSwwLTEuNjItMC4wNDgtMi40MTEtMC4xNDJjNC40NzQsMi44NjksOS43ODYsNC41NDEsMTUuNDkzLDQuNTQxICBjMTguNTkxLDAsMjguNzU2LTE1LjQsMjguNzU2LTI4Ljc1NmMwLTAuNDM4LTAuMDA5LTAuODc1LTAuMDI4LTEuMzA5QzQ5Ljc2OSwxOC44NzMsNTEuNDgzLDE3LjA5Miw1Mi44MzcsMTUuMDY1eiIvPjwvc3ZnPg==');
}

.skype {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDU2LjY5MyA1Ni42OTMiIGhlaWdodD0iNTYuNjkzcHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1Ni42OTMgNTYuNjkzIiB3aWR0aD0iNTYuNjkzcHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik01MS40OTcsMzQuNzg1YzAuMzU0LTEuNjI0LDAuNTM5LTMuMzAzLDAuNTM5LTUuMDI5YzAtMTIuOTM4LTEwLjQ4OC0yMy40MjctMjMuNDI4LTIzLjQyNyAgYy0xLjM2NSwwLTIuNzAzLDAuMTE5LTQuMDA4LDAuMzQyYy0yLjA5Mi0xLjMyLTQuNTcxLTIuMDg3LTcuMjI3LTIuMDg3Yy03LjUwNSwwLTEzLjU4OCw2LjA4NC0xMy41ODgsMTMuNTkgIGMwLDIuNTA3LDAuNjgzLDQuODU0LDEuODY3LDYuODcxYy0wLjMxMiwxLjUyMS0wLjQ3NCwzLjA5OC0wLjQ3NCw0LjcxMWMwLDEyLjk0MSwxMC40ODgsMjMuNDMsMjMuNDI5LDIzLjQzICBjMS40NjcsMCwyLjg5OC0wLjEzNSw0LjI4OS0wLjM5MmMxLjkxNCwxLjAyNyw0LjEsMS42MTEsNi40MjQsMS42MTFjNy41MDQsMCwxMy41ODYtNi4wODMsMTMuNTg2LTEzLjU4NyAgQzUyLjkwNywzOC42NSw1Mi4zOTksMzYuNjA0LDUxLjQ5NywzNC43ODV6IE00MC42MjQsNDAuOTUzYy0xLjA4MiwxLjUzMy0yLjY4NCwyLjc0OS00Ljc2LDMuNjExICBjLTIuMDU1LDAuODU0LTQuNTE4LDEuMjg4LTcuMzIsMS4yODhjLTMuMzY1LDAtNi4xODgtMC41OTMtOC4zODktMS43NjFjLTEuNTc1LTAuODQ5LTIuODcyLTEuOTk5LTMuODU4LTMuNDI0ICBjLTAuOTk0LTEuNDMzLTEuNDk4LTIuODU3LTEuNDk4LTQuMjMyYzAtMC44NTcsMC4zMjgtMS42MDIsMC45NzYtMi4yMTFjMC42NDItMC42MDQsMS40NjQtMC45MSwyLjQ0Ni0wLjkxICBjMC44MDUsMCwxLjUsMC4yNCwyLjA2NCwwLjcxNmMwLjUzOSwwLjQ1OSwxLDEuMTM2LDEuMzczLDIuMDA5YzAuNDE2LDAuOTUzLDAuODY3LDEuNzU2LDEuMzQ2LDIuMzg1ICBjMC40NjEsMC42MSwxLjEyMSwxLjEyMSwxLjk2NSwxLjUyMWMwLjg1LDAuNDAxLDEuOTk2LDAuNjA2LDMuNDAyLDAuNjA2YzEuOTM4LDAsMy41MjctMC40MTMsNC43MjEtMS4yMjkgIGMxLjE2OC0wLjc5NiwxLjczMi0xLjc1MywxLjczMi0yLjkyM2MwLTAuOTI1LTAuMjk1LTEuNjUtMC45MDItMi4yMjNjLTAuNjQxLTAuNTk3LTEuNDgtMS4wNTgtMi41MDItMS4zNzkgIGMtMS4wNjQtMC4zMzEtMi41MS0wLjY5MS00LjI5Ny0xLjA2NmMtMi40MzQtMC41Mi00LjQ5OC0xLjEzOC02LjE0MS0xLjgzNWMtMS42ODItMC43MTYtMy4wMzYtMS43MDgtNC4wMjYtMi45NDYgIGMtMS4wMDUtMS4yNjEtMS41MTYtMi44MzctMS41MTYtNC42OTVjMC0xLjc3LDAuNTM1LTMuMzY3LDEuNTkxLTQuNzQxYzEuMDQ3LTEuMzY3LDIuNTc4LTIuNDMxLDQuNTQ4LTMuMTU3ICBjMS45NDMtMC43MTksNC4yNTYtMS4wODQsNi44NzUtMS4wODRjMi4wOTIsMCwzLjkzLDAuMjQ0LDUuNDY3LDAuNzE5YzEuNTQ1LDAuNDgsMi44NDYsMS4xMywzLjg2OSwxLjkyOSAgYzEuMDI5LDAuODA2LDEuNzk3LDEuNjY1LDIuMjc5LDIuNTYxYzAuNDg0LDAuOTAyLDAuNzMsMS44MDIsMC43MywyLjY3MWMwLDAuODM4LTAuMzIyLDEuNTk5LTAuOTYxLDIuMjY0ICBjLTAuNjQzLDAuNjY2LTEuNDUxLDEuMDA0LTIuNDA2LDEuMDA0Yy0wLjg2NywwLTEuNTQ3LTAuMjEzLTIuMDE4LTAuNjI3Yy0wLjQzOC0wLjM5MS0wLjg5My0wLjk5NS0xLjM5OC0xLjg2NCAgYy0wLjU4NC0xLjEwOC0xLjI5MS0xLjk4NC0yLjEwMi0yLjYwMWMtMC43ODktMC42MDEtMi4xMDUtMC45MDItMy45MTQtMC45MDJjLTEuNjc4LDAtMy4wNDUsMC4zMzYtNC4wNTksMS4wMDMgIGMtMC45NzcsMC42MzktMS40NTMsMS4zNzQtMS40NTMsMi4yNDVjMCwwLjUzNSwwLjE1NCwwLjk3OSwwLjQ3MSwxLjM2M2MwLjMzMiwwLjQwOSwwLjgwMywwLjc2MywxLjM5NSwxLjA2MiAgYzAuNjE1LDAuMzExLDEuMjUyLDAuNTU2LDEuODg3LDAuNzNjMC42NSwwLjE4MiwxLjc0MiwwLjQ0OSwzLjI0LDAuNzk1YzEuODk2LDAuNDA4LDMuNjQxLDAuODYzLDUuMTgsMS4zNTcgIGMxLjU2MiwwLjUsMi45MDgsMS4xMTMsNC4wMSwxLjgzYzEuMTIxLDAuNzMsMi4wMSwxLjY2NywyLjY0MSwyLjc4OWMwLjYzMywxLjEyNSwwLjk1MywyLjUxMywwLjk1Myw0LjEyNyAgQzQyLjI2NSwzNy42NTQsNDEuNzEyLDM5LjQxNiw0MC42MjQsNDAuOTUzeiIvPjwvc3ZnPg==');
}

.linkedIn {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDU2LjY5MyA1Ni42OTMiIGhlaWdodD0iNTYuNjkzcHgiIGlkPSJMYXllcl8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCA1Ni42OTMgNTYuNjkzIiB3aWR0aD0iNTYuNjkzcHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnPjxwYXRoIGQ9Ik0zMC4wNzEsMjcuMTAxdi0wLjA3N2MtMC4wMTYsMC4wMjYtMC4wMzMsMC4wNTItMC4wNSwwLjA3N0gzMC4wNzF6Ii8+PHBhdGggZD0iTTQ5LjI2NSw0LjY2N0g3LjE0NWMtMi4wMTYsMC0zLjY1MSwxLjU5Ni0zLjY1MSwzLjU2M3Y0Mi42MTNjMCwxLjk2NiwxLjYzNSwzLjU2MiwzLjY1MSwzLjU2Mmg0Mi4xMiAgIGMyLjAxOSwwLDMuNjU0LTEuNTk3LDMuNjU0LTMuNTYyVjguMjNDNTIuOTE5LDYuMjYyLDUxLjI4Myw0LjY2Nyw0OS4yNjUsNC42Njd6IE0xOC40NzUsNDYuMzA0aC03LjQ2NVYyMy44NDVoNy40NjVWNDYuMzA0eiAgICBNMTQuNzQzLDIwLjc3N2gtMC4wNWMtMi41MDQsMC00LjEyNC0xLjcyNS00LjEyNC0zLjg4YzAtMi4yMDMsMS42Ny0zLjg4LDQuMjIzLTMuODhjMi41NTQsMCw0LjEyNSwxLjY3Nyw0LjE3NSwzLjg4ICAgQzE4Ljk2NywxOS4wNTIsMTcuMzQ1LDIwLjc3NywxNC43NDMsMjAuNzc3eiBNNDUuMzk0LDQ2LjMwNGgtNy40NjVWMzQuMjg2YzAtMy4wMTgtMS4wOC01LjA3OC0zLjc4MS01LjA3OCAgIGMtMi4wNjIsMC0zLjI5LDEuMzg5LTMuODMxLDIuNzMxYy0wLjE5NywwLjQ3OS0wLjI0NSwxLjE0OS0wLjI0NSwxLjgyMXYxMi41NDNoLTcuNDY1YzAsMCwwLjA5OC0yMC4zNTQsMC0yMi40NTloNy40NjV2My4xNzkgICBjMC45OTItMS41MywyLjc2Ni0zLjcwOSw2LjcyOS0zLjcwOWM0LjkxMSwwLDguNTk0LDMuMjExLDguNTk0LDEwLjExVjQ2LjMwNHoiLz48L2c+PC9zdmc+');
}

.github {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxMDI0IiB3aWR0aD0iMTAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNTEyIDBDMjI5LjI1IDAgMCAyMjkuMjUgMCA1MTJjMCAyMjYuMjUgMTQ2LjY4OCA0MTguMTI1IDM1MC4xNTYgNDg1LjgxMiAyNS41OTQgNC42ODggMzQuOTM4LTExLjEyNSAzNC45MzgtMjQuNjI1IDAtMTIuMTg4LTAuNDY5LTUyLjU2Mi0wLjcxOS05NS4zMTJDMjQyIDkwOC44MTIgMjExLjkwNiA4MTcuNSAyMTEuOTA2IDgxNy41Yy0yMy4zMTItNTkuMTI1LTU2Ljg0NC03NC44NzUtNTYuODQ0LTc0Ljg3NS00Ni41MzEtMzEuNzUgMy41My0zMS4xMjUgMy41My0zMS4xMjUgNTEuNDA2IDMuNTYyIDc4LjQ3IDUyLjc1IDc4LjQ3IDUyLjc1IDQ1LjY4OCA3OC4yNSAxMTkuODc1IDU1LjYyNSAxNDkgNDIuNSA0LjY1NC0zMyAxNy45MDQtNTUuNjI1IDMyLjUtNjguMzc1QzMwNC45MDYgNzI1LjQzOCAxODUuMzQ0IDY4MS41IDE4NS4zNDQgNDg1LjMxMmMwLTU1LjkzOCAxOS45NjktMTAxLjU2MiA1Mi42NTYtMTM3LjQwNi01LjIxOS0xMy0yMi44NDQtNjUuMDk0IDUuMDYyLTEzNS41NjIgMCAwIDQyLjkzOC0xMy43NSAxNDAuODEyIDUyLjUgNDAuODEyLTExLjQwNiA4NC41OTQtMTcuMDMxIDEyOC4xMjUtMTcuMjE5IDQzLjUgMC4xODggODcuMzEyIDUuODc1IDEyOC4xODggMTcuMjgxIDk3LjY4OC02Ni4zMTIgMTQwLjY4OC01Mi41IDE0MC42ODgtNTIuNSAyOCA3MC41MzEgMTAuMzc1IDEyMi41NjIgNS4xMjUgMTM1LjUgMzIuODEyIDM1Ljg0NCA1Mi42MjUgODEuNDY5IDUyLjYyNSAxMzcuNDA2IDAgMTk2LjY4OC0xMTkuNzUgMjQwLTIzMy44MTIgMjUyLjY4OCAxOC40MzggMTUuODc1IDM0Ljc1IDQ3IDM0Ljc1IDk0Ljc1IDAgNjguNDM4LTAuNjg4IDEyMy42MjUtMC42ODggMTQwLjUgMCAxMy42MjUgOS4zMTIgMjkuNTYyIDM1LjI1IDI0LjU2MkM4NzcuNDM4IDkzMCAxMDI0IDczOC4xMjUgMTAyNCA1MTIgMTAyNCAyMjkuMjUgNzk0Ljc1IDAgNTEyIDB6Ii8+PC9zdmc+');
}

.copy {
  padding-top: 10px;
}
