<div data-twitter-event-id="0" id="_id2"><div data-click-to-open-target="https://twitter.com/code_conf/status/651724049463312384" data-iframe-title="Twitter Tweet" data-scribe="page:tweet" id="twitter-widget-0" lang="en" data-twitter-event-id="1">
<div id="_id3">
<div id="_id4">
<blockquote cite="https://twitter.com/code_conf/status/651724049463312384" data-tweet-id="651724049463312384" data-scribe="section:subject" id="_id5">
<div id="_id6">
<a data-scribe="element:user_link" href="https://twitter.com/code_conf" aria-label="CoDe Conferences (screen name: code_conf)" id="_id7"><img data-scribe="element:avatar" data-src-2x="https://pbs.twimg.com/profile_images/811963046184833024/HCVa6viD_bigger.jpg" alt="" data-src-1x="https://pbs.twimg.com/profile_images/811963046184833024/HCVa6viD_normal.jpg" src="https://pbs.twimg.com/profile_images/811963046184833024/HCVa6viD_normal.jpg" id="_id8"></a>
<div data-scribe="component:author" id="_id9">
<a data-scribe="element:user_link" href="https://twitter.com/code_conf" aria-label="CoDe Conferences (screen name: code_conf)" id="_id10">
<div id="_id11">
<span id="_id12">
<span title="CoDe Conferences" data-scribe="element:name" id="_id13">CoDe Conferences</span>
</span>
<span title="@code_conf" data-scribe="element:screen_name" dir="ltr" id="_id14">@code_conf</span>
</div>
</a>
</div>
<div id="_id15">
<a href="https://twitter.com/code_conf/status/651724049463312384" data-scribe="element:logo" id="_id16"><span id="_id17"><div aria-label="View on Twitter" title="View on Twitter" role="presentation" id="_id18"></div>
</span></a>
</div>
</div>
<div data-scribe="component:tweet" id="_id19">
<div id="_id20"></div>
<p lang="en" dir="ltr" id="_id21">"Everyone enjoys when the developer deploys"<a href="https://twitter.com/allanebdrup" dir="ltr" data-mentioned-user-id="3096336141" data-scribe="element:mention" id="_id22"><span id="_id23">@</span><span id="_id24">allanebdrup</span></a> on <a href="https://twitter.com/hashtag/ContinuousDelivery?src=hash" data-query-source="hashtag_click" dir="ltr" rel="tag" data-scribe="element:hashtag" id="_id25"><span id="_id26">#</span><span id="_id27">ContinuousDelivery</span></a> at <a href="https://twitter.com/codecph" dir="ltr" data-mentioned-user-id="820707401494134786" data-scribe="element:mention" id="_id28"><span id="_id29">@</span><span id="_id30">codecph</span></a> </p>
<div id="_id31">
<article data-scribe="component:card" dir="ltr" id="_id32">
<div data-scribe="element:photo" id="_id33">
<div data-style="max-width: 768px" id="_id34">
<div data-style="padding-bottom: 100.0000%" id="_id35">
<a href="https://twitter.com/codecph/status/651724049463312384/photo/1" id="_id36">
<img data-image="https://pbs.twimg.com/media/CQtjj0LWEAAGSyp" data-image-format="jpg" width="768" height="1024" title="View image on Twitter" alt="View image on Twitter" src="https://pbs.twimg.com/media/CQtjj0LWEAAGSyp?format=jpg&amp;name=small" id="_id37">
</a>
</div>
</div>
</div>
</article>
</div>
<div id="_id38">
<div id="_id39">
<a title="Like" href="https://twitter.com/intent/like?tweet_id=651724049463312384" data-scribe="component:actions" id="_id40">
<div data-scribe="element:heart" id="_id41"><div aria-label="Like" title="Like" role="img" id="_id42"></div>
</div>
<span data-scribe="element:heart_count" id="_id43">2</span>
</a>
</div>
<div id="_id44">
<a data-datetime="2015-10-07T11:41:36+0000" data-scribe="element:full_timestamp" href="https://twitter.com/code_conf/status/651724049463312384" id="_id45">
<time datetime="2015-10-07T11:41:36+0000" pubdate="" title="Time posted: October 07, 2015 11:41:36 (UTC)" id="_id46">1:41 PM - Oct 7, 2015</time></a></div>
<div data-scribe="element:notice" id="_id47"><a href="https://support.twitter.com/articles/20175256" title="Twitter Ads info and privacy" id="_id48"><span id="_id49">Twitter Ads info and privacy</span></a>
</div>
</div>
</div>
</blockquote>
</div>
<a title="View CoDe Conferences's profile on Twitter" href="https://twitter.com/code_conf" data-scribe="section:cta component:news" id="_id50">
<div data-scribe="element:profile_icon" id="_id51"><div aria-label="View profile on Twitter" title="View profile on Twitter" role="img" id="_id52"></div>
</div>
<div data-scribe="element:profile_text" id="_id53">See CoDe Conferences's other Tweets</div>
<div data-scribe="element:cta_chevron" id="_id54"><div aria-label="View on Twitter" title="View on Twitter" role="img" id="_id55"></div>
</div>
</a>
</div>
</div><div id="_id56"><div id="_id57"><div id="_id58"></div></div><div id="_id59"><div id="_id60"></div></div></div></div>